In [ ]:
import pandas as pd
titanic = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic.csv')
houses = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kc_house_data.csv')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/netflix_titles.csv', sep = "|",index_col=0)
btc = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/coin_Bitcoin.csv')
countries = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/world-happiness-report-2021.csv',index_col=0)

In [ ]:
countries.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [ ]:
mapper = {"Regional indicator" : "regional_indicator", 'Ladder score': 'ladder_score'}

In [ ]:
countries.rename(columns=mapper,inplace=True)

In [ ]:
countries

,Country name,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [ ]:
mapper= {'Finland':'finland'}

In [ ]:
titanic.sex.replace('female','F')

0          F
1       male
2          F
3       male
4          F
        ...
1304       F
1305       F
1306    male
1307    male
1308    male
Name: sex, Length: 1309, dtype: object

In [ ]:
titanic['sex'].replace(['female','male'],["F","M"])

0       F
1       M
2       F
3       M
4       F
       ..
1304    F
1305    F
1306    M
1307    M
1308    M
Name: sex, Length: 1309, dtype: object

In [ ]:
titanic.sex

0       F
1       M
2       F
3       M
4       F
       ..
1304    F
1305    F
1306    M
1307    M
1308    M
Name: sex, Length: 1309, dtype: object

In [ ]:
titanic['age'].replace(["?"],[None],inplace=True)

/tmp/ipython-input-3086122953.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['age'].replace(["?"],[None],inplace=True)

In [ ]:
titanic.age.value_counts(dropna=False)

age
None      263
24         47
22         43
21         41
30         40
         ...
60.5        1
74          1
0.4167      1
11.5        1
26.5        1
Name: count, Length: 99, dtype: int64

In [ ]:
countries.loc['Brazil':'Cambodia']

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Brazil,Latin America and Caribbean,6.330,0.043,6.415,6.245,9.577,0.882,66.601,0.804,-0.071,0.756,2.43,1.028,0.944,0.571,0.514,0.142,0.117,3.015
Mexico,Latin America and Caribbean,6.317,0.053,6.420,6.213,9.859,0.831,68.597,0.862,-0.147,0.799,2.43,1.126,0.830,0.634,0.585,0.092,0.089,2.961
Jamaica,Latin America and Caribbean,6.309,0.156,6.615,6.004,9.186,0.877,67.500,0.890,-0.137,0.884,2.43,0.891,0.932,0.599,0.618,0.099,0.035,3.135
Lithuania,Central and Eastern Europe,6.255,0.045,6.344,6.167,10.499,0.935,67.906,0.773,-0.203,0.826,2.43,1.350,1.065,0.612,0.476,0.056,0.073,2.624
Cyprus,Western Europe,6.223,0.049,6.319,6.128,10.576,0.802,73.898,0.763,-0.015,0.844,2.43,1.377,0.765,0.801,0.464,0.178,0.061,2.578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ukraine,Commonwealth of Independent States,4.875,0.052,4.977,4.773,9.436,0.888,64.902,0.724,-0.011,0.924,2.43,0.979,0.958,0.517,0.417,0.181,0.010,1.813
Iraq,Middle East and North Africa,4.854,0.059,4.970,4.738,9.240,0.746,60.583,0.630,-0.053,0.875,2.43,0.910,0.638,0.381,0.302,0.153,0.041,2.429
Gabon,Sub-Saharan Africa,4.852,0.075,4.998,4.706,9.603,0.776,59.962,0.731,-0.200,0.840,2.43,1.037,0.707,0.362,0.424,0.058,0.064,2.201
Burkina Faso,Sub-Saharan Africa,4.834,0.081,4.993,4.675,7.678,0.672,54.151,0.695,-0.009,0.748,2.43,0.364,0.472,0.179,0.381,0.182,0.122,3.133
Cambodia,Southeast Asia,4.830,0.067,4.963,4.698,8.360,0.765,62.000,0.959,0.034,0.843,2.43,0.603,0.680,0.426,0.702,0.210,0.061,2.148

In [ ]:
countries.set_index('Country name',inplace=True)

In [ ]:
countries.loc['Brazil', ['Ladder score','Healthy life expectancy'] ]

Ladder score                 6.33
Healthy life expectancy    66.601
Name: Brazil, dtype: object

In [ ]:
countries.loc[['Denmark','Sweden','Norway'],['Regional indicator']]

             Regional indicator
Country name
Denmark          Western Europe
Sweden           Western Europe
Norway           Western Europe

In [ ]:
countries.head(10)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.3,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.7,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.6,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.4,0.929,0.134,0.242,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612
Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.3,0.908,0.042,0.481,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784

In [ ]:
countries.loc['Finland']="LOL"

/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"
/tmp/ipython-input-2989409208.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LOL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  countries.loc['Finland']="LOL"

In [ ]:
countries.loc['Finland']

Regional indicator                            LOL
Ladder score                                  LOL
Standard error of ladder score                LOL
upperwhisker                                  LOL
lowerwhisker                                  LOL
Logged GDP per capita                         LOL
Social support                                LOL
Healthy life expectancy                       LOL
Freedom to make life choices                  LOL
Generosity                                    LOL
Perceptions of corruption                     LOL
Ladder score in Dystopia                      LOL
Explained by: Log GDP per capita              LOL
Explained by: Social support                  LOL
Explained by: Healthy life expectancy         LOL
Explained by: Freedom to make life choices    LOL
Explained by: Generosity                      LOL
Explained by: Perceptions of corruption       LOL
Dystopia + residual                           LOL
Name: Finland, dtype: object

In [ ]:
houses[houses['bedrooms'] >= 10]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745

In [ ]:
many_bedrooms = houses['bedrooms'] >= 10

In [ ]:
many_bedrooms

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: bedrooms, Length: 21613, dtype: bool

In [ ]:
houses.loc[many_bedrooms]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745

In [ ]:
houses.loc[many_bedrooms,["bedrooms"]] = "too many"

/tmp/ipython-input-2940156524.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'too many' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  houses.loc[many_bedrooms,["bedrooms"]] = "too many"

In [ ]:
high_quality = houses['grade'] > 10

In [ ]:
great_view = houses["view"] == 4

In [ ]:
our_condition= high_quality & great_view

In [ ]:
houses['luxury_level'] = "normal"

In [ ]:
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,luxury_level
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,normal
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,normal
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,normal
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,normal
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,normal
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,normal
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,normal
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,normal
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,normal

In [ ]:
houses.loc[our_condition,"luxury_level"] = "luxurious"

In [ ]:
houses.loc[our_condition]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,luxury_level
540,622049114,20150218T000000,2125000.0,3,2.50,5403,24069,2.0,1,4,...,5403,0,1976,0,98166,47.4169,-122.348,3980,104374,luxurious
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788,luxurious
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619,luxurious
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,luxurious
2085,8106100105,20141114T000000,3850000.0,4,4.25,5770,21300,2.0,1,4,...,5770,0,1980,0,98040,47.5850,-122.222,4620,22748,luxurious
2444,7524900003,20141210T000000,3278000.0,2,1.75,6840,10000,2.5,1,4,...,4350,2490,2001,0,98008,47.6042,-122.112,3120,12300,luxurious
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,6350,290,2004,0,98155,47.7493,-122.280,3030,23408,luxurious
2713,7851980260,20140730T000000,1110000.0,5,3.50,7350,12231,2.0,0,4,...,4750,2600,2001,0,98065,47.5373,-121.865,5380,12587,luxurious
3157,1827200265,20140911T000000,1899000.0,2,2.75,3690,32044,2.0,1,4,...,3690,0,1989,0,98166,47.4485,-122.369,2310,26988,luxurious
3586,9272200090,20150204T000000,1598890.0,4,4.50,3780,6000,2.0,0,4,...,2770,1010,1910,1977,98116,47.5922,-122.388,2660,6000,luxurious
4013,724069059,20140509T000000,2400000.0,3,2.25,3000,11665,1.5,1,4,...,3000,0,2001,0,98075,47.5884,-122.086,3000,15959,luxurious
4190,2303900090,20140729T000000,2880500.0,4,2.50,5760,32033,2.0,0,4,...,4390,1370,1994,0,98177,47.7288,-122.370,3420,28475,luxurious
4406,3505100756,20141106T000000,2050000.0,4,3.00,4280,18834,1.0,0,4,...,2180,2100,1971,0,98116,47.5811,-122.400,2490,8858,luxurious
5749,6744701310,20150415T000000,1850000.0,4,2.50,3830,11972,1.0,1,4,...,2370,1460,1981,0,98155,47.7404,-122.284,3080,12297,luxurious
5850,3585900500,20150402T000000,1525000.0,4,4.25,4720,21000,3.0,0,4,...,4720,0,1971,0,98177,47.7591,-122.376,3010,20000,luxurious
6233,2024069008,20140619T000000,2200000.0,5,4.75,5990,10450,2.0,1,4,...,4050,1940,2002,0,98027,47.5554,-122.077,3330,14810,luxurious
6501,2626069030,20150209T000000,1940000.0,4,5.75,7220,223462,2.0,0,4,...,6220,1000,2000,0,98053,47.7097,-122.013,2680,7593,luxurious
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810,luxurious
7269,4139470010,20141006T000000,1615000.0,4,3.25,4250,12281,2.0,0,4,...,3020,1230,1996,0,98006,47.5507,-122.113,4940,12941,luxurious
7313,4131900066,20140825T000000,3100000.0,3,3.00,3920,13085,2.0,1,4,...,3920,0,1996,0,98040,47.5716,-122.204,3450,13287,luxurious
7700,3761700053,20150105T000000,2150000.0,3,2.75,3470,9610,3.0,1,4,...,3470,0,1989,2000,98034,47.7205,-122.260,4130,11875,luxurious
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454,luxurious
8174,9279700150,20150212T000000,1625000.0,4,3.75,4410,8112,3.0,0,4,...,3570,840,2003,0,98116,47.5888,-122.392,2770,5750,luxurious
8568,8653600100,20150330T000000,750000.0,5,2.50,3120,15593,2.0,0,4,...,3120,0,1986,0,98074,47.6142,-122.065,3390,17003,luxurious
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,luxurious
10385,3225069301,20140612T000000,1228000.0,4,2.50,5730,44947,2.0,0,4,...,4280,1450,1991,0,98074,47.6052,-122.064,3310,17628,luxurious
10465,333100295,20141124T000000,3120000.0,3,3.50,4490,56609,2.0,1,4,...,4490,0,1993,0,98034,47.6997,-122.240,2710,51330,luxurious
10665,7852160310,20140814T000000,1010000.0,4,2.75,3430,15877,1.0,0,4,...,3430,0,2005,0,98065,47.5364,-121.856,4080,14577,luxurious
11402,3426049284,20140819T000000,2300000.0,4,3.25,4110,15929,2.0,1,4,...,2720,1390,2001,0,98115,47.6934,-122.271,2640,15929,luxurious
11535,8964800890,20150109T000000,3200000.0,3,3.25,4560,13363,1.0,0,4,...,2760,1800,1995,0,98004,47.6205,-122.214,4060,13362,luxurious
11729,2303900045,20140623T000000,1580000.0,4,2.50,4570,74487,2.0,0,4,...,4570,0,1948,1985,98177,47.7282,-122.372,3810,74487,luxurious
11829,4139420640,20141030T000000,1785000.0,4,3.50,5490,14300,1.0,0,4,...,2910,2580,1996,0,98006,47.5511,-122.114,4290,13822,luxurious
12429,98001070,20140818T000000,1169000.0,5,4.25,4610,13252,2.0,0,4,...,4610,0,2004,0,98075,47.5878,-121.969,4400,15154,luxurious
12777,1225069038,20140505T000000,2280000.0,7,8.00,13540,307752,3.0,0,4,...,9410,4130,1999,0,98053,47.6675,-121.986,4850,217800,luxurious
12872,2424049029,20140529T000000,3100000.0,6,4.25,6980,15682,3.0,0,4,...,5330,1650,1999,0,98040,47.5552,-122.231,3930,18367,luxurious
13068,7856410411,20140922T000000,1698890.0,4,4.50,3860,15246,2.0,0,4,...,2940,920,2004,0,98006,47.5600,-122.161,3750,14790,luxurious
13528,3025059124,20140828T000000,3168750.0,5,3.50,4330,11979,1.0,0,4,...,2090,2240,2008,0,98004,47.6251,-122.218,4320,12000,luxurious
13710,2923500230,20141216T000000,2600000.0,4,4.50,5270,12195,2.0,1,4,...,3400,1870,1979,0,98027,47.5696,-122.090,3390,9905,luxurious
13770,1795800040,20140903T000000,1350000.0,4,3.25,5370,20388,2.0,0,4,...,5370,0,1990,0,98198,47.4050,-122.331,2770,22270,luxurious
14083,3625059043,20140904T000000,3300000.0,5,4.75,6200,13873,2.0,1,4,...,4440,1760,1989,0,98008,47.6050,-122.112,2940,13525,luxurious
14556,2303900035,20140611T000000,2888000.0,5,6.25,8670,64033,2.0,0,4,...,6120,2550,1965,2003,98177,47.7295,-122.372,4140,81021,luxurious
14774,9412400220,20140710T000000,1612500.0,4,2.75,5470,18200,2.0,1,4,...,3730,1740,1992,0,98118,47.5316,-122.263,3620,15100,luxurious
15255,2425049063,20140911T000000,3640900.0,4,3.25,4830,22257,2.0,1,4,...,4830,0,1990,0,98039,47.6409,-122.241,3820,25582,luxurious
15258,1732800780,20150212T000000,3065000.0,5,3.00,4150,7500,2.5,0,4,...,3510,640,1909,0,98119,47.6303,-122.362,2250,4050,luxurious
15482,624069108,20140812T000000,3200000.0,4,3.25,7000,28206,1.0,1,4,...,3500,3500,1991,0,98075,47.5928,-122.086,4913,14663,luxurious
15668,4030100290,20141001T000000,1680000.0,5,3.50,5170,7197,3.0,1,4,...,3520,1650,1998,0,98155,47.7561,-122.271,3020,12880,luxurious
15692,6117502230,20141201T000000,1637500.0,3,3.50,4660,21164,2.0,1,4,...,4660,0,1975,1990,98166,47.4418,-122.354,3140,24274,luxurious
15828,4139420190,20150512T000000,2480000.0,4,5.00,5310,16909,1.0,0,4,...,3090,2220,1992,0,98006,47.5515,-122.113,5220,15701,luxurious
16260,8965510190,20140610T000000,1250000.0,4,2.50,3700,21755,1.0,0,4,...,2620,1080,1988,0,98006,47.5662,-122.108,3480,13786,luxurious
16817,825059178,20140923T000000,2574000.0,4,3.75,4475,20424,2.0,1,4,...,2659,1816,1999,0,98033,47.6646,-122.208,4340,5250,luxurious
16837,4441300170,20150112T000000,1300000.0,4,2.50,3110,11857,2.0,0,4,...,2040,1070,1990,0,98117,47.6952,-122.402,3110,11570,luxurious
17558,7631800015,20150407T000000,2510000.0,3,3.25,5480,57990,2.0,1,4,...,5480,0,1991,0,98166,47.4558,-122.371,2500,22954,luxurious
18199,3625059152,20141230T000000,3300000.0,3,3.25,4220,41300,1.0,1,4,...,2460,1760,1958,1987,98008,47.6083,-122.110,3810,30401,luxurious
18455,8043700300,20140608T000000,2700000.0,4,3.25,4420,7850,2.0,1,4,...,3150,1270,2001,0,98008,47.5720,-122.102,2760,8525,luxurious
19017,2303900100,20140911T000000,3800000.0,3,4.25,5510,35000,2.0,0,4,...,4910,600,1997,0,98177,47.7296,-122.370,3430,45302,luxurious
20005,148000475,20140528T000000,1400000.0,4,3.25,4700,9160,1.0,0,4,...,2520,2180,2005,0,98116,47.5744,-122.406,2240,8700,luxurious
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,3430,980,2014,0,98056,47.5283,-122.205,3550,5634,luxurious
20923,7852070210,20140527T000000,1149000.0,4,3.00,5940,11533,2.0,0,4,...,4950,990,2004,0,98065,47.5443,-121.870,4240,12813,luxurious
21050,2424059170,20150219T000000,900000.0,5,6.00,7120,40806,2.0,0,4,...,5480,1640,2007,0,98006,47.5451,-122.114,3440,36859,luxurious
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,2830,930,2014,0,98056,47.5285,-122.205,3560,5762,luxurious

In [ ]:
df.set_index("show_id", inplace=True)

In [ ]:
df.loc["s2202", "director"] = "Greg Whiteley"

In [ ]:
df.loc[["s2881", "s3601"], "duration"] = "Updated Duration"

In [ ]:
df.rename(columns={"release_year": "release_yr"}, inplace=True)

In [ ]:
df.rename(index={df[df["title"] == "Evil"].index[0] : "s6666"}, inplace=True)

In [ ]:
df[df["title"] == "Evil"]

,type,title,director,cast,country,date_added,release_yr,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s6666,TV Show,Evil,NaN,"Katja Herbers, Mike Colter, Aasif Mandvi, Mich...",United States,"October 1, 2020",2019,TV-14,1 Season,TV Dramas,A forensic psychologist partners with a Cathol...

In [ ]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...